{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "create a author at"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "create a author"|capfirst %}</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">{% trans "create"|capfirst %}</button></p>
</form>
<div class="buttons">
    {% if request.user.is_authenticated %}
        <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "author_list" %}{% endif %}">{% trans "return"|capfirst %}</a>
    {% endif %}
</div>
{% endblock content %}