{% extends "base.html" %}
{% load static i18n %} 
{% block title %}{{ block.super }} | {% trans "authors"|capfirst %}{% endblock title %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{% trans "authors"|capfirst %}</h1> 
    <ul>
        {% for author in authors %}
            <li><a href="{% url 'author_detail' pk=author.pk %}">{{ author.name }}</a></li>
        {% endfor %}
    </ul>
    <ul class="paginator">
        {% if authors.has_previous %}
            <li><a href="?page=1">&LeftArrowBar;</a></li>
            <li><a href="?page={{ authors.previous_page_number }}">&ShortLeftArrow;</a></li>
        {% endif %}
        {% for page in authors.paginator.page_range %}
            <li {% if page == authors.number %}class="current"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if authors.has_next %}
            <li><a href="?page={{ authors.next_page_number }}">&ShortRightArrow;</a></li>
            <li><a href="?page={{ authors.paginator.num_pages }}">&RightArrowBar;</a></li>
        {% endif %}
    </ul> 
    <div class="buttons">
        {% if request.user.is_authenticated %}
            <a class="button" href="{% url "author_create" %}">{% trans "create"|capfirst %}</a>
            <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "index" %}{% endif %}">{% trans "return"|capfirst %}</a>
        {% endif %}
    </div>    
{% endblock content %}


