{% extends "base.html" %}
{% block title %}{{ block.super }} list{% endblock title %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Authors</h1>
    <ul>
        {% for author in author_list %}
            <li><a href="{% url 'author_detail' pk=author.pk %}">{{ author.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
