{% extends "base.html" %}
{% load static i18n %} 
{% block title %}{{ block.super }} | {{ book.name|capfirst }}{% endblock title %}
{% block content %}
    <h1>{{ book.name }}</h1>
    {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" alt="{{ book.name }}">
    {% endif %}
    <p>{% trans "author"|capfirst %}: {{ book.author.name }}</p> 
    <p>{% trans "genre"|capfirst %}: {{ book.genre.name }}</p>
    <p>{% trans "publication year"|capfirst %}: {{ book.publication_year }}</p> 
    <p>{% trans "description"|capfirst %}: {{ book.description|safe }}</p> 
    <div class="buttons">
        {% if request.user.is_staff %}
            <a class="button" href="{% url 'book_delete' book.id %}">{% trans "Delete This Book" %}</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "book_list" %}{% endif %}">{% trans "return"|capfirst %}</a>        
        {% endif %}
    </div>    
{% endblock content %}



