{% extends "base.html" %}
{% load static i18n %} 

{% block title %}{{ block.super }} | {% trans "books"|capfirst %}{% endblock title %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{% trans "books"|capfirst %}</h1> 
    <ul>
        {% for book in book_list %}
            <li><a href="{% url 'book_detail' pk=book.pk %}">{% trans book.name|capfirst %}</a></li> 
        {% endfor %}
    </ul>
{% endblock content %}


