{% extends "base.html" %}
{% load static i18n %}  
{% block title %}
  {{ block.super }} | {% trans "review"|capfirst %}: {{ review.comment }}
{% endblock title %}
{% block content %}
<h1>{% trans "review"|capfirst %}</h1>
<p>{% trans "comment"|capfirst %}: {{ review.comment }}</p>
<p>{% trans "rating"|capfirst %}: {{ review.rating }}</p>
<p>{% trans "book"|capfirst %}: <a href="{{ review.book.get_absolute_url }}">{{ review.book.name }}</a></p>
<p>{% trans "user"|capfirst %}: {{ review.user.username }}</p>
<div class="user-content">{{ review.book.description|safe }}</div> <!-- Čia įterptas aprašymas -->
{% if comments %}
  <h2>{% trans "comments"|capfirst %}</h2>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.text }}</li>
    {% endfor %}
  </ul>
<div class="buttons">
    {% if request.user.is_authenticated %}
        <a href="{% url 'review_delete' review.pk %}">{% trans "Delete Review" %}</a>
        <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "review_list" %}{% endif %}">{% trans "return"|capfirst %}</a>
    {% endif %}
</div>
{% endif %}
{% endblock content %}





