{% extends "base.html" %}
{% load static i18n %}  

{% block title %}
  {{ block.super }} | {% trans "review"|capfirst %}: {{ review.comment }}
{% endblock title %}

{% block content %}
<h1>{% trans "review"|capfirst %}</h1>
<p>{% trans "comment"|capfirst %}: {{ review.comment }}</p>
<p>{% trans "rating"|capfirst %}: {{ review.rating }}</p>
<p>{% trans "book"|capfirst %}: <a href="{{ review.book.get_absolute_url }}">{{ review.book.name }}</a></p>
<p>{% trans "user"|capfirst %}: {{ review.user.username }}</p>

{% if comments %}
  <h2>{% trans "comments"|capfirst %}</h2>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.text }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock content %}




