body {
    background-color: #cccccc;
    background-image: url('/static/img/pilkas_tepliotas.jpg');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #171211;
    display: flex;
    height: 160px;
    flex-direction: column;
    margin: 0; padding: 0;
    min-height: 100vh;
}

header {
    background-color: #969992;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
    padding: 0.5rem;
}

header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block: 0.5rem;
    margin-left: 1rem;
    padding-inline: 0;
    gap: 0.5rem;
}    

/*header {
   /* display: flex;
    justify-content: space-between; Elementai pasiskirs vienas prieš kitą 
    align-items: center; /* Elementai bus horizontaliai centruoti 
    margin-bottom: 1rem; */



 /*header .logo {
    font-size: 24px;
    font-weight: 700;
    padding: 0.5rem;
}

header form select {
    display: flex;
    margin-left: 73rem; /* Paslenkame į dešinę, kad būtų kairėje pusėje */
   /* margin-right: auto; /* Papildomas atstumas nuo kairiojo krašto 
    font-size: 60%; */


header h1 {
    margin: 0;
    width: 100%; /* pritaikome plotį */
}

.spacer {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    background-color: #bbbbbb;
    border-bottom: 1px solid #888888;
    padding: 1rem;
    margin: 1.2rem 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    padding-bottom: 15px;
    margin-top: 0;
    justify-content: center;
}

h3 {
    padding-top: 15px;
}

h4 {
    padding-top: 15px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-container img {
    width: 100px;
    height: auto;
}

h1:first-child, h2:first-child, h3:first-child, 
h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

footer p {
    color: #cccccc;
}

footer a {
    color: #66aaff;
}

footer a:hover {
    color: #77bbff;
}

.message, ul.errorlist {
    padding: 0.5rem;
    margin: 0;
    border-bottom: 1px solid #888888;
}

.message-error, ul.errorlist {
    background-color: #ffaaaa;
}

main form label {
    display: inline-block;
    min-width: 20vw;
    font-size: 120%;
}

main form input, 
main form textarea, 
main form select,
main form button {
    font-size: 120%;
}

main form .helptext {
    display: block;
    font-size: 90%;
}

p, main ul {
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

main ul li {
    border-bottom: 1px solid #999999;
}

main {
    flex-grow: 2;
}

footer {
    background-color: #888888;
}

footer .icon {
    max-height: 20px;
    padding: 0.5rem;
}