{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "signup"|capfirst %}{{ block.super }}{% endblock title %}
{% block content %}
<div class="container">
    <h5>{% trans "Nice to see you here, please fill out the registration form!" %}</h5>
    <div class="signup-container">
        <h2 class="form-heading">{% trans "signup"|capfirst %} BookFans</h2>
        <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">{% trans "register"|capfirst %}</button>
        </form>
    </div>
{% endblock content %}
