{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "delete account"|capfirst %} {{ request.user }} {% trans "profile at" %} {{ block.super }}
{% endblock title %}
{% block content %}
    <h1>{% trans "delete account"|capfirst %} {{ request.user }} {% trans "profile" %}</h1>
    <p>{% trans "Are you sure you want to delete your account?" %}</p>
    <form action={{ request.path }} method="post">
        {% csrf_token %}
        <button type="submit">{% trans "Confirm deletion" %}</button>
    </form>
{% endblock content %}

